<section class="section-product">
    <div class="container-small">
        <div class="product-details-wrapper bg-alternate">
            <!--Heading-->
            <div class="product-details-heading-wrapper valign-container gap-16 padding-sm border-left border-right border-bottom">
                <a href="#/shop" class="product-details-page-link">Shop &gt; </a>
                <h2 class="product-details-page-title">Sunrise Blend</h2>
            </div>
            <!--Grid-->
            <div class="product-details-grid grid grid-cols-2 relative">
                <!--Product Image-->
                <div class="product-details-image-height relative border-left bg-alternate w-full">
                    <div class="product-details-image-wrapper flex-row-container">
                        <img class="product-details-image" src="./dist/assets/img/product6.png" loading="lazy"
                             alt="">
                    </div>
                </div>
                <!--Product text-->
                <div class="product-details-text-wrapper relative flex flex-col gap-24 border-left border-right bg-secondary padding-md">
                    <div class="product-details-name-wrapper">
                        <h2 class="product-name">Sunrise Blend</h2>
                        <div class="product-price">$ 34.99 USD</div>
                    </div>
                    <p class="product-details-description text-regular">
                        Start your day with the lively and invigorating flavors of our Sunrise Blend. This light
                        roast coffee offers a bright, citrusy taste with a hint of sweetness, perfect for your
                        morning cup.
                    </p>
                    <div class="product-details-add-to-cart">
                        <form class="add-to-cart-standard-form flex gap-16" data-node-type="add-to-cart-form"
                              data-loading-text="Adding to cart..." novalidate>
                            <input id="product-quantity" class="product-details-box-counter cart-quantity"
                                   type="number" pattern="^[0-9]+$" inputmode="numeric" name="product-quantity"
                                   min="1" max="99" step="1" value="1">
                            <button class="add-to-cart-button product-details-button flex-row-container"
                                    type="submit" data-node-type="add-to-cart-button"
                                    data-loading-text="Adding...">Add to cart
                            </button>
                        </form>
                        <div class="out-of-stock">
                            <div class="out-of-stock-text">This product is out of stock.</div>
                        </div>
                    </div>
                    <!--Accordion-->
                    <div class="v-accordion-wrapper">
                        <!--Accordion Item-->
                        <div class="v-accordion-item">
                            <div class="v-accordion-item-header">
                                <div class="accordion-heading">Product details</div>
                                <img class="v-accordion-icon svg" src="./dist/assets/img/icons-close.svg"
                                     loading="lazy" alt="">
                            </div>
                            <div class="v-accordion-item-body">
                                <div class="accordion-details-text-wrapper flex gap-8">
                                    <div class="accordion-text"><strong>Origin:</strong></div>
                                    <div class="accordion-text">Ethiopia</div>
                                </div>
                                <div class="accordion-details-text-wrapper flex gap-8">
                                    <div class="accordion-text"><strong>Roast Level:</strong></div>
                                    <div class="accordion-text">Light</div>
                                </div>
                                <div class="accordion-details-text-wrapper flex gap-8">
                                    <div class="accordion-text"><strong>Flavour Notes:</strong></div>
                                    <div class="accordion-text">Bright, Citrus, Sweet</div>
                                </div>
                                <div class="accordion-details-text-wrapper flex gap-8">
                                    <div class="accordion-text"><strong>Processing Method:</strong></div>
                                    <div class="accordion-text">Washed</div>
                                </div>
                                <div class="accordion-details-text-wrapper flex gap-8">
                                    <div class="accordion-text"><strong>Weight:</strong></div>
                                    <div class="accordion-text">7oz (200g)</div>
                                </div>
                            </div>
                        </div>
                        <!--Accordion Item-->
                        <div class="v-accordion-item">
                            <div class="v-accordion-item-header">
                                <div class="accordion-heading">Additional Info</div>
                                <img class="v-accordion-icon svg" src="./dist/assets/img/icons-close.svg"
                                     loading="lazy" alt="">
                            </div>
                            <div class="v-accordion-item-body">
                                <div class="accordion-shipping-text-wrapper flex flex-col">
                                    <div class="accordion-text"><strong>Shipping &amp; Returns:</strong></div>
                                    <div class="accordion-text">
                                        Free shipping on orders over $50. Returns within
                                        30 days if the product is still sealed. We cannot accept returns if the
                                        package has been opened unless there is a defect or if the wrong order
                                        was packaged.
                                    </div>
                                </div>
                                <div class="accordion-shipping-text-wrapper flex flex-col">
                                    <div class="accordion-text"><strong>Brewing Recommendations:</strong></div>
                                    <div class="accordion-text">
                                        For optimal flavor, use 1-2 tablespoons of coffee per 6 ounces of water.
                                        Suitable for pour-over, French press, and drip coffee makers.
                                    </div>
                                </div>
                                <div class="accordion-shipping-text-wrapper flex flex-col">
                                    <div class="accordion-text"><strong>Sustainability:</strong></div>
                                    <div class="accordion-text">
                                        Our coffee is ethically sourced from smallholder farms, ensuring fair
                                        wages and sustainable farming practices.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Green Heading-->
            <div class="product-heading-wrapper bg-secondary-2 border-left border-right border-bottom border-top padding-lg">
                <h2 class="text-size-large">Discover More Blends</h2>
            </div>
            <!--Collection-->
            <div class="product-collection-wrapper border-right">
                <!--Product Grid-->
                <div class="shop-product-grid" role="list">
                    <!--Card Item-->
                    <div class="product-item" role="listitem">
                        <!--Add to cart Form-->
                        <div class="add-to-cart">
                            <form class="add-to-cart-form" data-node-type="add-to-cart-form"
                                  data-loading-text="Adding to cart..." novalidate>
                                <button class="add-to-cart-button flex-row-container" type="submit"
                                        data-node-type="add-to-cart-button" data-loading-text="Adding...">Add to
                                    cart
                                </button>
                                <a class="product-info-link" href="#/costa-rica">
                                    <img class="svg arrow-icon" src="./dist/assets/img/arrow.svg" alt=""
                                         loading="lazy">
                                </a>
                            </form>
                            <div class="out-of-stock">
                                <div class="out-of-stock-text">This product is out of stock.</div>
                            </div>
                        </div>
                        <a class="product-wrapper space-y-32" href="#/costa-rica">
                            <div class="product-img">
                                <img src="./dist/assets/img/product1.png" alt="" loading="lazy">
                            </div>
                            <div class="product-text-wrapper flex flex-col w-full">
                                <div class="product-name">Costa Rica</div>
                                <div class="product-price">$&nbsp;35.99&nbsp;USD</div>
                            </div>
                        </a>
                    </div>
                    <!--Card Item-->
                    <div class="product-item" role="listitem">
                        <!--Add to cart Form-->
                        <div class="add-to-cart">
                            <form class="add-to-cart-form" data-node-type="add-to-cart-form"
                                  data-loading-text="Adding to cart..." novalidate>
                                <button class="add-to-cart-button flex-row-container" type="submit"
                                        data-node-type="add-to-cart-button" data-loading-text="Adding...">Add to
                                    cart
                                </button>
                                <a class="product-info-link" href="#/decaf-expresso">
                                    <img class="svg arrow-icon" src="./dist/assets/img/arrow.svg" alt=""
                                         loading="lazy">
                                </a>
                            </form>
                            <div class="out-of-stock">
                                <div class="out-of-stock-text">This product is out of stock.</div>
                            </div>
                        </div>
                        <a class="product-wrapper space-y-32" href="#/decaf-expresso">
                            <div class="product-img">
                                <img src="./dist/assets/img/product2.png" alt="" loading="lazy">
                            </div>
                            <div class="product-text-wrapper flex flex-col w-full">
                                <div class="product-name">Decaf Expresso</div>
                                <div class="product-price">$&nbsp;40.99&nbsp;USD</div>
                            </div>
                        </a>
                    </div>
                    <!--Card Item-->
                    <div class="product-item" role="listitem">
                        <!--Add to cart Form-->
                        <div class="add-to-cart">
                            <form class="add-to-cart-form" data-node-type="add-to-cart-form"
                                  data-loading-text="Adding to cart..." novalidate>
                                <button class="add-to-cart-button flex-row-container" type="submit"
                                        data-node-type="add-to-cart-button" data-loading-text="Adding...">Add to
                                    cart
                                </button>
                                <a class="product-info-link" href="#/french-roast">
                                    <img class="svg arrow-icon" src="./dist/assets/img/arrow.svg" alt=""
                                         loading="lazy">
                                </a>
                            </form>
                            <div class="out-of-stock">
                                <div class="out-of-stock-text">This product is out of stock.</div>
                            </div>
                        </div>
                        <a class="product-wrapper space-y-32" href="#/french-roast">
                            <div class="product-img">
                                <img src="./dist/assets/img/product3.png" alt="" loading="lazy">
                            </div>
                            <div class="product-text-wrapper flex flex-col w-full">
                                <div class="product-name">French Roast</div>
                                <div class="product-price">$&nbsp;36.99&nbsp;USD</div>
                            </div>
                        </a>
                    </div>
                    <!--Card Item-->
                    <div class="product-item" role="listitem">
                        <!--Add to cart Form-->
                        <div class="add-to-cart">
                            <form class="add-to-cart-form" data-node-type="add-to-cart-form"
                                  data-loading-text="Adding to cart..." novalidate>
                                <button class="add-to-cart-button flex-row-container" type="submit"
                                        data-node-type="add-to-cart-button" data-loading-text="Adding...">Add to
                                    cart
                                </button>
                                <a class="product-info-link" href="#/decaf-french-expresso">
                                    <img class="svg arrow-icon" src="./dist/assets/img/arrow.svg" alt=""
                                         loading="lazy">
                                </a>
                            </form>
                            <div class="out-of-stock">
                                <div class="out-of-stock-text">This product is out of stock.</div>
                            </div>
                        </div>
                        <a class="product-wrapper space-y-32" href="#/decaf-french-expresso">
                            <div class="product-img">
                                <img src="./dist/assets/img/product4.png" alt="" loading="lazy">
                            </div>
                            <div class="product-text-wrapper flex flex-col w-full">
                                <div class="product-name">Decaf French Expresso</div>
                                <div class="product-price">$&nbsp;44.99&nbsp;USD</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>