<section class="blog-page-section">
    <div class="container-small">
        <div class="blog-page-content-wrapper border-left border-right">
            <!--Heading-->
            <div class="blog-page-heading-wrapper border-bottom">
                <!--Image-->
                <div class="blog-page-image-wrapper">
                    <img class="blog-page-image" src="./dist/assets/img/Blog-gallery-img6.png" loading="lazy"
                         alt="">
                </div>
                <!--Text-->
                <div class="blog-page-heading-text-wrapper border-left flex flex-col justify-center gap-16 padding-sm">
                    <h1 class="h1 blog-page-heading">The World’s Best Coffee Tours: Brasil, Columbia</h1>
                    <div class="blog-page-divider"></div>
                    <div class="blog-page-date">June 4, 2024</div>
                </div>
            </div>
            <!--Content-->
            <div class="blog-page-content content">
                <div class="blog-page-column flex">
                    <!--Text-->
                    <div class="blog-page-paragraph-wrapper w-md-60 border-right padding-lg">
                        <div class="blog-page-paragraph space-y-24">
                            <p>Embark on a journey through the heartlands of coffee production in Brazil and
                                Colombia, where the rich history and exquisite flavors of coffee await
                                discovery.</p>
                            <p><strong>Brazil:</strong>
                                <br>
                                In Brazil, coffee tours offer a glimpse into the vast
                                plantations of Minas Gerais and São Paulo, where the landscape is adorned with
                                endless rows of coffee trees. Visitors can immerse themselves in the entire
                                coffee-making process, from harvesting ripe cherries to the meticulous sorting
                                and drying stages. Explore the historical significance of coffee in Brazilian
                                culture, where farms like Fazenda Nossa Senhora Aparecida showcase sustainable
                                practices and the art of producing top-quality beans. End your tour with a
                                tasting session, savoring Brazil's renowned sweet and nutty profiles that have
                                made it a global coffee powerhouse.</p>
                            <p><strong>Colombia:</strong>
                                <br>
                                Colombia, famed for its high-altitude coffee regions, offers
                                tours that delve into the Andean foothills of Antioquia, Quindío, and Huila.
                                Here, coffee estates like Hacienda Venecia provide an immersive experience,
                                allowing visitors to pick cherries alongside skilled pickers and witness the
                                meticulous processing that ensures Colombia's renowned brightness and fruity
                                acidity. Learn about the coffee farmers' dedication to sustainability and
                                community impact, as well as the country's rich coffee-growing traditions.
                                Conclude your journey with a tasting of Colombian coffee, renowned for its
                                balanced flavors and pleasant acidity, capturing the essence of Colombia's
                                diverse terroirs.</p>
                            <p>Both Brazil and Colombia offer unforgettable coffee tours that blend cultural
                                heritage with unparalleled coffee expertise, inviting enthusiasts to explore the
                                origins of their favorite brews and deepen their appreciation for the art of
                                coffee cultivation and preparation.</p>
                        </div>
                    </div>
                    <!--Shop-->
                    <div class="blog-page-shop-wrapper w-md-40">
                        <div class="blog-page-shop flex-column-container gap-16 bg-secondary-2 padding-tiny border-bottom">
                            <!--Images-->
                            <div class="blog-page-shop-image-wrapper flex gap-16 padding-tiny bg-alternate">
                                <img class="blog-page-shop-image" src="./dist/assets/img/product1.png"
                                     loading="lazy" alt="">
                                <img class="blog-page-shop-image" src="./dist/assets/img/product2.png"
                                     loading="lazy" alt="">
                            </div>
                            <!--Cart Content-->
                            <div class="content text-center gap-16">
                                <div aria-label="This cart is empty" aria-live="polite"
                                     class="text-size-medium">
                                    Discover Premium Coffee
                                </div>
                                <a class="button-link" href="#/shop">
                                    <div class="text-size-small">Shop Items</div>
                                    <img class="svg" src="./dist/assets/img/arrow.svg" loading="lazy" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Other-->
                <div class="blog-page-other-blogs border-top">
                    <div class="blog-collection-list border-left" role="list">
                        <!--Blog Post-->
                        <div class="blog-post-item" role="listitem">
                            <div class="blog-post-card flex-column-container gap-32 border-right border-bottom padding-lg wh-full">
                                <img class="blog-post-img" src="./dist/assets/img/Blog-gallery-img1.png"
                                     loading="lazy" alt="">
                                <div class="blog-post-text flex flex-col items-start gap-8">
                                    <p class="text-regular">November 1, 2023</p>
                                    <h3 class="h3">Make sure your coffee is as fresh as it can be.</h3>
                                    <div class="spacer-medium"></div>
                                    <!--Button-->
                                    <a class="view-more-link" aria-label="go-to-blog-post"
                                       href="#/make-sure-your-coffee-is-as-fresh-as-it-can-be">
                                        <div class="view-more-text">READ MORE</div>
                                        <img class="svg arrow-icon" src="./dist/assets/img/arrow.svg" alt=""
                                             loading="lazy">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--Blog Post-->
                        <div class="blog-post-item" role="listitem">
                            <div class="blog-post-card flex-column-container gap-32 border-right border-bottom padding-lg wh-full">
                                <img class="blog-post-img" src="./dist/assets/img/Blog-gallery-img2.png"
                                     loading="lazy" alt="">
                                <div class="blog-post-text flex flex-col items-start gap-8">
                                    <p class="text-regular">January 4, 2024</p>
                                    <h3 class="h3">The Best Coffee Advent Calendars of This Year</h3>
                                    <div class="spacer-medium"></div>
                                    <!--Button-->
                                    <a class="view-more-link" aria-label="go-to-blog-post"
                                       href="#/the-best-coffee-advent-calendars-of-this-year">
                                        <div class="view-more-text">READ MORE</div>
                                        <img class="svg arrow-icon" src="./dist/assets/img/arrow.svg" alt=""
                                             loading="lazy">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--Blog Post-->
                        <div class="blog-post-item" role="listitem">
                            <div class="blog-post-card flex-column-container gap-32 border-bottom padding-lg wh-full">
                                <img class="blog-post-img" src="./dist/assets/img/Blog-gallery-img3.png"
                                     loading="lazy" alt="">
                                <div class="blog-post-text flex flex-col items-start gap-8">
                                    <p class="text-regular">February 15, 2024</p>
                                    <h3 class="h3">The Most Common Way People Drink Noir Café</h3>
                                    <div class="spacer-medium"></div>
                                    <!--Button-->
                                    <a class="view-more-link" aria-label="go-to-blog-post"
                                       href="#/the-most-common-way-people-drink-noir-cafe">
                                        <div class="view-more-text">READ MORE</div>
                                        <img class="svg arrow-icon" src="./dist/assets/img/arrow.svg" alt=""
                                             loading="lazy">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>